<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <title>Australian Federal Election Vote Map</title>

    <link rel="stylesheet" href="/lib/leaflet/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/lib/leaflet/leaflet.ie.css" />
    <![endif]-->
    <link rel="stylesheet" href="/css/votemap.css" />
</head>
<body>
    <div id="controls">
        Vote data:
        <label><input type="radio" name="voteType" value="tcp" checked> Two-Candidate Preferred</label>
        <label><input type="radio" name="voteType" value="firstPrefs"> First Preferences</label>
    </div>
    <div id="map"></div>

    <script id="tpl-place-popup" type="text/x-template">
        <h3><%- PollingPlaceNm %></h3>
        <h4><%- candidates[0].DivisionNm %></h4>
        <ul class="candidate-votes">
        <% _.each(candidates, function (c) { %>
            <li style="color: <%- c.colour %>">
                <span class="candidate-name"><%- c.GivenNm %> <%- c.Surname %></span>
                <span class="candidate-vote-count"><%- c.voteCount %></span>
                <span class="candidate-vote-swing"><%- c.voteSwing %>%</span>
            </li>
        <% }) %>
        </ul>
    </script>

    <script src="/lib/leaflet/leaflet-src.js"></script>
    <script src="/lib/leaflet/leaflet.hash.js"></script>
    <script src="/lib/leaflet/TileLayer.GeoJSON.js"></script>
    <script src="/lib/underscore/underscore.js"></script>
    <script src="/lib/superagent/superagent.js"></script>
    <script src="/js/votemap.js"></script>
    <script src="/js/settings.js"></script>
</body>
</html>