<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <title>Australian Federal Election Vote Map</title>

    <link rel="stylesheet" href="/lib/leaflet/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/lib/leaflet/leaflet.ie.css" />
    <![endif]-->
    <link rel="stylesheet" href="/css/votemap.css" />
</head>
<body>
    Hi
    <div id="map"></div>

    <script src="/lib/leaflet/leaflet.js"></script>
    <script src="/lib/leaflet/TileLayer.GeoJSON.js"></script>
    <script src="/js/votemap.js"></script>
</body>
</html>